html{
    box-sizing: border-box;
}

body{
    width: 90%;
    font-family: 'Arial, Helvetica, sans-serif'; 
    color: dimgrey;
    display: flex;
    align-items: center;
    border: 1px solid black;
    /* justify-content: center;  */
    /* flex-flow: row nowrap; */
    margin: 0 auto;
    /* padding: 1em; */
    /* width: 90%; */
}


 #flex{ 
    display: flex; 
    /* flex-flow: row nowrap; */
    /* width: 41%; */
    border: 1px black solid;
    /* padding: 10px; */
    margin: 2px;
    /* align-items: stretch; */
    justify-content: center;
} 

.first{
    border: 3px gray solid; 
    /* padding: 10px; */
    /* margin: 2px; */
    align-items: stretch; 
} 

#left{
    width: 200px;
    /* margin-top: 0%; */
    background-color:#003D73 ;
    text-align: center;
    /* flex-basis: max-content;     */
    /* align-items: stretch; */
}

#right{
    width: 50%; 
}

img{
    width: 150px;
    border:gray solid 1px ; 
    border-radius: 10px;
    margin: 0 5px;
}


.about{
    color: white;
}

.sheader{
    border: 1px solid black;
    background-color: #00315c;
  
}

.summary{
    padding: 10px;
}

.exp{
    /* background-image: url("/Bincom/Screenshot_20240709-130558.png") ;
    color: white; */
}

h2{
    color: #003D73;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 0%;
}

h3{
    padding-left: 20px;
    font-weight: bold;
    /* border: 1px solid red; */
    margin-bottom: 0%;
}

.table{
    display: flex;
    /* border: 1px red solid; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.year{
    /* border: 1px solid red; */
    padding: 10px;
    margin-top: 5%;
}
.down{
    display: flex;
    /* flex-flow: row nowrap; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid green; */
    justify-content: space-evenly;
}

cite{
    /* border: solid red 1px; */
    padding-left: 1%;
    font-size: smaller;
}
ul{
    /* border: 1px solid red; */
    margin: 0%;
}
.row1{
    /* border: 1px solid purple; */
    width: 90px;
}
.row2{
    /* border: 1px solid orange; */
    margin-left: 10px;
    padding: 10px;
    
}

